.cardsContainer {
    padding-top: 2%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    background-color: transparent;
    position: relative;
    
    padding-bottom: .5%;
    
}

.titleContainer {
    justify-content: center;
    text-align: center;
    position: relative;
    background: rgb(74,188,237);
    background: linear-gradient(0deg, rgba(74,188,237,1) 0%, rgba(35,36,36,1) 65%);
    z-index: 5;
    padding-top: 4%;
    padding-bottom: 2%;
}

.titleContainer h3 {
    font-family: "adriane", sans-serif;
    color: white;
    font-size: 1.2rem;
    opacity: 0.9;
}

.titleContainer h2 {
    font-family: "adriane", serif;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    text-align: center;
    opacity: 0.9;
    margin-bottom: 2%;
    letter-spacing: 1px;
    
    opacity: 0.9;
    margin: 0 10%;

}

@media screen and (max-width:360px) {
    .titleContainer h2{
        font-size: 1.6rem;
        padding-bottom: 2%;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(0deg, rgba(74,188,237,1) 2%, rgba(35,36,36,1) 86%);
    padding: 4%;
    border-radius: 4px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.8);
    margin: auto;
    width: 400px;
    
    overflow: hidden;
    z-index: 5;
}

@media screen and (max-width: 600px) {
    .card {
        width: 300px;
        
        
    }
}

@media screen and (max-width: 335px) {
    .card {
        width: 280px;
        
        
    }
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}





.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.text h4 {
    font-family: "adriane", sans-serif;
    font-size: 1.2rem;
    opacity: 0.9;
    color: white;
    line-height: 1.6;
    font-weight: bold;
}

.text p {
    font-size: 1.0rem;
    font-family: "adriane", sans-serif;
    font-weight: bold;
    color: white;
    opacity: 0.9;
    margin: 0 25px;
    padding-bottom: 4%;
}

.text a {
    align-self: center;
    margin-top: auto;
    padding: 10px 15px;
    
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    font-family: "adriane", sans-serif;
    font-size: 1.2em;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: translateX(-50%, -50%);
    min-width: 50%;
}

.text a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}