.navList {
  display: none; 
  flex-direction: column;
  position: fixed;
  color: white;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  cursor: pointer;
  background-color: #87CEEB;
  opacity: 0.8;
  justify-content: center;
  z-index: 1100;
  align-items:start;
  transform: translateX(10%); 
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navList.navOpen {
  display: flex;
  width: 15%;
  height: 40%;
  top: 0;
  margin-top: 0;
  border-bottom-left-radius: 10px;
  list-style-type: none;
}

@media screen and (max-width: 1265px){
  .navList.navOpen {
    width: 20%;
  }
}

@media screen and (max-width: 900px){
  .navList.navOpen {
    width: 25%;
  }
}

@media screen and (max-width: 720px){
  .navList.navOpen {
    width: 35%;
  }
}


@media screen and (max-width: 500px){
  .navList.navOpen {
    width: 50%;
  }
}

@media screen and (max-width: 390px){
  .navList.navOpen {
    width: 80%;
  }
}

.navList li {
  margin: 10px 0;
  
}

.navList li a {
  text-decoration: none;
  font-family: "adriane", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  opacity: 0.8;
  color: rgb(24, 23, 23);
  font-weight: bold;
  text-align: center;
  
}

.navList li a:hover {
  color:white;
  opacity: 1;
}

.hamburger {
  display: block;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1100;
  cursor: pointer;
}
