.container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #232424 0%, #87CEEB 15%, #060508 58%);
    min-width: 100%;
    z-index: -3;

}


.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    background-image: url('/images/stars-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150vh;
    z-index: -3;
}

.titleContainer h1 {
    font-size: 8em;
    font-family: "adriane", serif;
    font-weight: bold;
    letter-spacing: .02em;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0%;
    transform: translate(0%, -50%);
    color: white;
    align-items: center;
}

.titleContainer h2 {
    font-size: 3em;
    font-family: "adriane", sans-serif;
    color: white;
    font-weight: 0;
    letter-spacing: .02em;
    z-index: 2;
    position: fixed;
    padding-top: 30%;
    opacity: 0.8;
    align-items: center;
    width: 100%;
    top: 0%;
    transform: translate(0%, -50%);
}

@media screen and (min-width:320px) {
    .titleContainer h1 {
        font-size: 2.5em;
        position: relative;
        padding-top: 30%;
        text-align: center;
        margin-bottom: 0;
        margin: 0 15%;
    }

    .titleContainer h2 {
        font-size: 1.5em;
        text-align: center;
        position: relative;
        padding-top: 15%;
        margin: 0 5%;
    }
}

@media screen and (min-width:600px) {
    .titleContainer h1 {
        font-size: 3rem;
    }

    .titleContainer h2 {
        font-size: 1.8rem;
        padding-top: 5%;
    }
}

@media screen and (min-width:860px) {
    .titleContainer h1 {
        font-size: 3.4rem;
    }

    .titleContainer h2 {
        font-size: 2rem;
        text-align: center;
        position: relative;
        padding-top: 5%;
        margin: 0 5%;
    }
}

@media screen and (min-width:1100px) {
    .titleContainer h1 {
        font-size: 4.3rem;
        position: fixed;
    }

    .titleContainer h2 {
        font-size: 2.5rem;
        position: fixed;
        padding-top: 50%;
    }
}

@media screen and (min-width:1300px) {
    .titleContainer h1 {
        font-size: 5rem;
    }

    .titleContainer h2 {
        font-size: 3rem;
    }
}

@media screen and (min-width:1400px) {
    .titleContainer h1 {
        font-size: 5.5rem;
    }

    .titleContainer h2 {
        font-size: 3rem;
    }
}

@media screen and (min-width:1600px) {
    .titleContainer h1 {
        font-size: 6em;
        font-family: "adriane", serif;
        font-weight: bold;

        z-index: 1;
        position: fixed;

    }

    .titleContainer h2 {
        font-size: 3em;
        font-family: "adriane", sans-serif;
        padding-top: 40%;
        font-weight: 0;

        z-index: 2;
        position: fixed;

        opacity: 0.8;
    }
}

.scrollIndicator {
    z-index: 1;
    position: fixed;
    align-items: center;
    bottom: 30%;
    transform: translateX(-50%);

}

.scrollIndicator span {
    display: block;
    width: 26px;
    height: 26px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    margin: 1.5%;
    animation: animate 2s infinite;
}

@media screen and (min-width: 320px) {
    .scrollIndicator {
        z-index: 1;
        position: absolute;
        align-items: center;
        bottom: 45%;
        transform: translateX(15%);

    }

    .scrollIndicator span {
        width: 15px;
        height: 15px;
    }
}

@media screen and (min-width: 420px) {
    .scrollIndicator {
        bottom: 55%;
    }
}

@media screen and (min-width: 720px) {
    .scrollIndicator {
        bottom: 40%;
    }

    .scrollIndicator span {
        width: 19px;
        height: 19px;
    }
}

@media screen and (min-width: 900px) {
    .scrollIndicator {
        bottom: 35%;
    }
}

@media screen and (min-width: 1040px) {
    .scrollIndicator {
        bottom: 30%;
    }

    .scrollIndicator span {
        width: 21px;
        height: 21px;
    }
}

@media screen and (min-width: 1100px) {
    .scrollIndicator {
        bottom: 45%;
        position: fixed;
    }
}

@media screen and (min-width: 1300px) {
    .scrollIndicator {
        bottom: 35%;
    }
}

@media screen and (min-width: 1900px) {
    .scrollIndicator {
        z-index: 1;
        position: fixed;
        align-items: center;
        bottom: 40%;
        transform: translateX(15%);
    }

    .scrollIndicator span {
        width: 26px;
        height: 26px;
    }
}


.scrollIndicator span:nth-child(2) {
    animation-delay: -0.2s;
}

.scrollIndicator span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-40%, -40%);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(-40%, -40%);
    }
}


.imageContainer {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/planet.png');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    min-width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    z-index: 2;
    margin-top: 25%;

}

@media screen and (min-width:320px) {
    .imageContainer {
        height: 40vh;
    }
}

@media screen and (min-width:420px) {
    .imageContainer {
        height: 55vh;
    }
}

@media screen and (min-width:520px) {
    .imageContainer {
        height: 65vh;
    }
}

@media screen and (min-width:620px) {
    .imageContainer {
        height: 75vh;
    }
}

@media screen and (min-width:720px) {
    .imageContainer {
        height: 80vh;
    }
}

@media screen and (min-width:1200px) {
    .imageContainer {
        height: 90vh;
    }
}

@media screen and (min-width:1900px) {
    .imageContainer {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('/images/planet.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        min-width: 100%;
        height: 100vh;
        display: flex;
        position: relative;
        z-index: 35;
        margin-top: 25%;

    }
}

.otherContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    position: relative;
    background: linear-gradient(to bottom, #060508 0%, #232424 10%);
    margin-bottom: -2.2%;
    margin-top: -25%;
    padding-bottom: 7%;
    padding-top: 40%;

}

@media screen and (min-width:320px) {
    .otherContainer {
        margin-top: -35%;
    }
}

@media screen and (min-width:520px) {
    .otherContainer {
        margin-top: -40%;
    }
}

@media screen and (min-width:750px) {
    .otherContainer {
        margin-top: -35%;
    }
}

@media screen and (min-width:850px) {
    .otherContainer {
        margin-top: -30%;
    }
}

@media screen and (min-width:950px) {
    .otherContainer {
        margin-top: -25%;
    }
}

@media screen and (min-width: 1250px) {
    .otherContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 5;
        position: relative;
        background-color: #232424;
        margin-bottom: -2.2%;
        margin-top: -20%;
        padding-top: 40%;

    }
}

.otherContainer h2 {
    font-size: 3.5em;
    font-family: "adriane", serif;
    font-weight: bold;
    color: white;
    text-align: center;
    opacity: 0.9;
    z-index: 5;
    margin: .5% 25% .5% 25%;
}

.otherContainer h3 {
    font-size: 2em;
    font-family: "adriane", serif;
    text-align: center;
    color: white;
    line-height: 1.2;
    opacity: 0.8;
    z-index: 5;
    margin: .5% 25% .5% 25%;

}

@media screen and (min-width:320px) {
    .otherContainer h2 {
        font-size: 2rem;
        margin: 0 5%;
        margin-bottom: 5%;
    }

    .otherContainer h3 {
        font-size: 1.2rem;
        line-height: 1.1;
        margin: 0 5%;
    }
}

@media screen and (min-width:900px) {
    .otherContainer h2 {
        font-size: 2.5rem;
        margin: 0 5%;
        margin-bottom: 2.5%;
    }

    .otherContainer h3 {
        font-size: 1.4rem;
        line-height: 1.1;
        margin: 0 10%;
    }
}

@media screen and (min-width:1050px) {
    .otherContainer h3 {
        font-size: 1.4rem;
        line-height: 1.1;
        margin: 0 15%;
    }
}

@media screen and (min-width:1300px) {
    .otherContainer h3 {
        font-size: 1.4rem;
        line-height: 1.1;
        margin: 0 18%;
    }
}

@media screen and (min-width:1450px) {
    .otherContainer h2 {
        font-size: 3.5em;
        font-family: "adriane", serif;
        font-weight: bold;
        color: white;
        text-align: start;
        letter-spacing: 1px;
        z-index: 5;
        margin: .5% 25% .5% 25%;
    }

    .otherContainer h3 {
        font-size: 1.5em;
        font-family: "adriane", serif;
        text-align: start;
        letter-spacing: 2px;
        line-height: 1.4;

        z-index: 5;
        margin: .5% 10% .5% 10%;

    }
}


.otherContainer a {
    margin-top: 2.5%;
    padding: 1% 2%;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(113, 116, 99, 0.6);
    color: white;
    border-radius: 5px;
    font-family: "adriane", serif;
    font-size: 1.7em;
    letter-spacing: .5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    z-index: 5;
}

.otherContainer a:hover {
    background-color: #dbaa3c;
    z-index: 5;
}

.flex {
    margin-left: 17%;
    padding: 0;
    display: flex;
    flex-direction: row;
}