.container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #232424 0%, #87CEEB 15%, #060508 58%);
    min-width: 100%;
    z-index: -3;

}


.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    background-image: url('/images/stars-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150vh;
    z-index: -3;
    color: white;
}

.titleContainer h1 {
    font-size: 6em;
    top: 20px;
    
    letter-spacing: .02em;
    z-index: 1;
    position: fixed;
    
}

.titleContainer h2 {
    font-size: 3em;
    font-family: "adriane", sans-serif;
    top: 180px;
    font-weight: 0;
    letter-spacing: .02em;
    z-index: 2;
    position: fixed;
    opacity: 0.8;
}

@media screen and (max-width: 1400px) {
    .titleContainer h1 {
        font-size: 5em;
        top: 190px;
    }

    .titleContainer h2 {
        font-size: 2em;
        top: 340px;
    }
}

@media screen and (max-width: 900px) {
    .titleContainer h1 {
        top: 280px;
        font-size: 3em;
    }

    .titleContainer h2 {
        font-size: 1.2em;
        top: 360px;
    }
}

@media screen and (max-width: 550px) {
    .titleContainer h1 {
        
        font-size: 2.2em;
    }

    .titleContainer h2 {
        
        font-size: 1em;
    }
}

@media screen and (max-width: 390px) {
    .titleContainer h1 {
        font-size: 1.8em;
       
    }

    .titleContainer h2 {
        font-size: 1em;
       
    }
}

.scrollIndicator {
    z-index: 1;
    position: fixed;
    text-align: center;
    top: 350px;

}

.scrollIndicator span {
    display: block;
    width: 26px;
    height: 26px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    margin: 1.5%;
    animation: animate 2s infinite;
}

@media screen and (max-width:1400px) {
    .scrollIndicator {
        top: 450px;
        
    }
}

@media screen and (max-width:900px) {

    .scrollIndicator span {

        width: 20px;
        height: 20px;

    }
}



@media screen and (max-width:390px) {
   

    .scrollIndicator span {

        width: 17px;
        height: 17px;

    }
}

.scrollIndicator span:nth-child(2) {
    animation-delay: -0.2s;
}

.scrollIndicator span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-40%, -40%);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(-40%, -40%);
    }
}


.imageContainer {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/planet.png');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    min-width: 100%;
    height: 110vh;
    display: flex;
    position: relative;
    z-index: 200000;
    margin-top: 30%;

}

@media screen and (max-width:900px) {
    .imageContainer {
        height: 100vh;
    }
}

@media screen and (max-width:390px) {
    .imageContainer {
        height: 80vh;
    }
}

.otherContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    position: relative;
    background-color: white;
    margin-top: -25%;
    padding-top: 25%;
    background: linear-gradient(to bottom, #060508 0%, #232424 10%);
    padding-bottom: 5%;
}

.otherContainer h2 {
    font-size: 3.5em;
    font-family: "adriane", serif;
    
    color: white;
    text-align: center;
    opacity: 0.9;
    z-index: 5;
    margin: 0 25%;
}

.otherContainer h3 {
    font-size: 2em;
    font-family: "adriane", serif;
    text-align: center;
    color: white;
    line-height: 1.2;
    opacity: 0.6;
    z-index: 5;
    margin: .5% 18% .5% 18%;
}

@media screen and (max-width:1540px) {
    .otherContainer h2 {
        margin: 0 15%;
    }

    .otherContainer h3 {
        margin: 0 15%;
    }

}

@media screen and (max-width:1000px) {
    .otherContainer h2 {
        margin: 1% 10%;

    }

    .otherContainer h3 {
        margin: 0 10%;
    }

}

@media screen and (max-width:768px) {
    .otherContainer h2 {
        font-size: 2.5em;

    }

    .otherContainer h3 {
        font-size: 1.5em;
        margin: 0 7%;
    }

}

@media screen and (max-width:550px) {
    .otherContainer h2 {
        font-size: 1.8em;

    }

    .otherContainer h3 {
        font-size: 1.2em;
        margin: 0 4%;
    }

}

@media screen and (max-width:390px) {
    .otherContainer h2 {
        font-size: 1.5em;
        margin: 2% 4%;
    }

    .otherContainer h3 {
        font-size: 1.1em;
        margin: 0 4%;
    }
}