.AppContainer {
  width: 100%;

  background-color: #232424;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  padding: 3% 0;
  z-index: 1000;
}

.Wrapper {
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.Text {
  font-family: "adriane", sans-serif;
  font-size: 2rem;
  opacity: 0.8;
  margin: 0 2%;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  
  
  text-align: center;
}



.Note {
  font-size: 18px;
  font-weight: 200;
  margin: 2% 10%;
  text-align: center;
  color: white;
  letter-spacing: 1px;

}

.Marquee {
  display: flex;
  width: 100%;
  overflow: hidden;
  user-select: auto;
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  margin: 1%;
}

@keyframes scrollX {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.MarqueeGroup,
.MarqueeGroup2 {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  white-space: nowrap;
  width: auto;
  animation: scrollX 60s linear infinite;
  background-color: #232424;


  overflow: hidden;
}

.MarqueeGroup2 {
  animation-direction: reverse;
}

.ImageGroup:first-child {
  margin-left: auto;
}

.ImageGroup {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-right: .25%;
  box-shadow: rgba(255, 252, 252, 0.35) 0px 5px 15px;
  width: 500px;
  height: 250px;
  background-color: #232424;
  color: white;
  border-radius: 10px;
  margin: .25%;
}

@media screen and (max-width: 768px) {
  .ImageGroup {
    width: 250px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  }
}



.content {
  display: flex;
  flex-direction: column;

}

.reviewDescription {
  display: flex;             
  justify-content: center;   
  align-items: center;        
  text-align: center;     
  height: 100%;    
}

.Review {
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 4rem;
  white-space: normal;
  margin: auto 5%;
}

@media screen and (max-width:768px) {
  .Review {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 2rem;
    white-space: normal;
    margin: auto 5%;
  }
}